body {
  min-width: 760px;
  line-height: 1.2;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh; }

body {
  background-color: #000; }

div.Enter p {
  letter-spacing: 0.1em;
  position: absolute;
  left: 180px;
  top: -10px;
  font-family: 'Alfa Slab One';
  color: #fff;
  font-size: 20px;
  padding: 0 4px;
  border-radius: 3px;
  -webkit-transition-property: text-shadow,-webkit-box-shadow;
  transition-property: text-shadow,-webkit-box-shadow;
  -o-transition-property: text-shadow,box-shadow;
  transition-property: text-shadow,box-shadow;
  transition-property: text-shadow,box-shadow,-webkit-box-shadow;
  -webkit-transition-duration: 3s, 3s;
  -o-transition-duration: 3s, 3s;
  transition-duration: 3s, 3s; }

.one {
  text-shadow: 0 0 10px white;
  -webkit-box-shadow: 0 0 15px 4px white;
  box-shadow: 0 0 15px 4px white; }

.two {
  text-shadow: 0 0 0px white;
  -webkit-box-shadow: 0 0 4px 0px white;
  box-shadow: 0 0 4px 0px white; }

.main_menu > li > a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: inline-block;
  width: 82px;
  padding: 2px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #FFFFFF;
  border-radius: 7px 7px;
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  -webkit-transition-property: text-shadow,font-size,-webkit-box-shadow;
  transition-property: text-shadow,font-size,-webkit-box-shadow;
  -o-transition-property: box-shadow,text-shadow,font-size;
  transition-property: box-shadow,text-shadow,font-size;
  transition-property: box-shadow,text-shadow,font-size,-webkit-box-shadow;
  -webkit-transition-duration: 0.6s,0,4s,0.1s;
  -o-transition-duration: 0.6s,0,4s,0.1s;
  transition-duration: 0.6s,0,4s,0.1s;
  text-align: center;
  border-bottom: 3px solid white; }

.main_menu > li > a:hover {
  text-shadow: 0 0 4px white;
  padding: 2px;
  -webkit-box-shadow: 2px 4px 7px #FFFFFF;
  box-shadow: 2px 4px 7px #FFFFFF; }

.main_menu > li:last-child {
  margin-left: auto;
  margin-right: 45px; }

.container {
  min-width: 760px;
  max-width: 1050px;
  margin: 0px auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  background-color: #000;
  padding: 0; }

.menu_container {
  min-width: 760px;
  height: 85px;
  position: fixed;
  width: 100%;
  max-width: inherit;
  top: 0;
  background-color: #000000;
  background-position: 0 0; }

.main_menu {
  min-width: 760px;
  max-width: inherit;
  width: 100%;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .main_menu li {
    list-style: none;
    margin-top: 45px;
    margin-left: 45px; }
    .main_menu li a {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px; }
    .main_menu li a:hover {
      border-radius: 7px 7px;
      margin-top: 0; }
  .main_menu a:active {
    font-size: 11px;
    -webkit-box-shadow: 2px 4px 11px #FFFFFF;
    box-shadow: 2px 4px 11px #FFFFFF; }

.content {
  min-width: 760px;
  background-color: #000;
  width: 100%;
  max-width: inherit;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 51px;
  padding: 0;
  color: #FDED39;
  background-image: url("pictures/Newroom_Sandman.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top 60px center;
  margin-bottom: 40px; }
  .content h1 {
    letter-spacing: 0.5em;
    font-size: 35px;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    border-bottom: 1px solid #A68D00;
    margin-bottom: 2em;
    margin-top: 2em; }
  .content h2 {
    letter-spacing: 0.5em;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 35px;
    border-bottom: 1px solid #A68D00;
    margin-top: 4em; }

.content p {
  margin-top: 10px;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  min-height: 120px;
  padding: 0 5px 0 10px;
  line-height: 1.8em;
  text-align: center; }

p.about {
  font-size: 12px;
  min-height: 60px; }

.about p:hover {
  font-size: 12px; }

.content p:hover {
  cursor: pointer;
  text-shadow: 0 0 3px rgba(250, 250, 229, 0.8);
  letter-spacing: 1px;
  padding: 0 50px;
  margin: 25px 0;
  border-bottom: 2px solid #EFF15F;
  font-size: 16px;
  background-color: rgba(20, 20, 20, 0.6);
  padding-bottom: 2px; }

p.about:hover {
  font-size: 12px; }

.content p:first-letter {
  font-family: 'Alfa Slab One', cursive;
  font-size: 2em; }

.footer {
  min-width: 760px;
  width: 100%;
  max-width: inherit; }

.footer_container {
  position: fixed;
  max-width: inherit;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #B3B3B3; }

.footer_menu {
  min-width: 760px;
  background-color: #000;
  max-width: inherit;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer_menu a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 2px;
    padding-right: 5px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000; }
  .footer_menu a:hover {
    color: #EFD529;
    text-shadow: 0 0 3px #EFD529;
    border-bottom: 1px solid #EFD529;
    letter-spacing: 2px;
    border-right: 1px solid #EFD529; }
  .footer_menu li {
    list-style: none;
    margin-right: 20px;
    margin-bottom: 0px; }

@media (max-width: 759px) {
  body {
    font-size: 13px;
    min-width: 459px;
    max-width: 759px; }
  div.Enter p {
    position: absolute;
    left: 125px; }
  .main_menu > li > a {
    width: 62px;
    padding: 2px;
    text-decoration: none;
    -webkit-box-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
    -webkit-transition-property: text-shadow,font-size,-webkit-box-shadow;
    transition-property: text-shadow,font-size,-webkit-box-shadow;
    -o-transition-property: box-shadow,text-shadow,font-size;
    transition-property: box-shadow,text-shadow,font-size;
    transition-property: box-shadow,text-shadow,font-size,-webkit-box-shadow;
    -webkit-transition-duration: 0.3s,0,4s,0.1s;
    -o-transition-duration: 0.3s,0,4s,0.1s;
    transition-duration: 0.3s,0,4s,0.1s;
    text-align: center;
    border-bottom: 3px solid white; }
  .main_menu > li > a:hover {
    text-shadow: 0 0 4px white;
    padding: 2px;
    -webkit-box-shadow: 2px 4px 5px #FFFFFF;
    box-shadow: 2px 4px 5px #FFFFFF; }
  .menu_container {
    max-width: 759px;
    height: 70px;
    position: fixed;
    width: 100%;
    max-width: inherit;
    left: 0; }
  .main_menu > li:last-child {
    margin-right: auto;
    margin-left: 30px; }
  .main_menu {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main_menu li {
      margin-left: 30px;
      list-style: none;
      margin-top: 35px; }
      .main_menu li a {
        font-size: 11px;
        letter-spacing: 1px; }
    .main_menu a:active {
      font-size: 10px;
      -webkit-box-shadow: 2px 4px 5px #FFFFFF;
      box-shadow: 2px 4px 5px #FFFFFF; }
  .container {
    max-width: 759px;
    min-width: 459px; }
  .content {
    max-width: inherit;
    min-width: 459px;
    background-position: top 50px center;
    margin-bottom: 40px; }
    .content h1 {
      font-size: 25px; }
    .content h2 {
      font-size: 25px; }
  .content p {
    margin-top: 10px;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    min-height: 100px;
    padding: 0 4px 0 4px;
    line-height: 1.4em; }
  .content p:hover {
    letter-spacing: 1px;
    padding: 0 20px;
    margin: 20px 0;
    border-bottom: 1px solid #EFF15F;
    font-size: 14px;
    background-color: rgba(20, 20, 20, 0.6); }
  .content p:first-letter {
    font-size: 1.5em; }
  .onMouse_1 {
    text-shadow: 0 0 10px lime;
    -webkit-box-shadow: 0 0 15px 4px lime;
    box-shadow: 0 0 15px 4px lime; }
  .onMouse_2 {
    text-shadow: 0 0 0px lime;
    -webkit-box-shadow: 0 0 4px 0px lime;
    box-shadow: 0 0 4px 0px lime; }
  .footer {
    min-width: 459px;
    width: 100%;
    max-width: inherit; }
  .footer_container {
    position: fixed;
    max-width: inherit;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #B3B3B3; }
  .footer_menu {
    min-width: 459px;
    max-width: inherit;
    width: 100%;
    height: 35px; }
    .footer_menu a {
      font-size: 10px;
      letter-spacing: 1px; }
    .footer_menu a:hover {
      text-shadow: 0 0 2px #EFD529;
      letter-spacing: 1px; }
    .footer_menu li {
      margin-bottom: 0px; } }
